:root {
  --primary-color: #FFC1CC; 
  --secondary-color: #AEC6CF;
  --accent-color: #E6E6FA; 
  --accent-color2: #98FF98;
  --accent-color3: #FFDAB9;
  --accent-color4: #FFFFE0;
  --neutral-light: #A9A9A9;
  --neutral-white: #FFFFFF;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  font-family: 'Nunito', sans-serif;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Conthrax", sans-serif;
  color: var(----accent-color);
  display: block;
  transition: 0.3s;
  text-shadow: 2px 2px var(--neutral-light);
}

.sidenav a:hover {
  color: var(--accent-color2);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--neutral-white);
  margin: 6px 0;
  transition: 0.4s;
}

.bar1:hover,
.bar2:hover,
.bar3:hover {
  background-color: var(--accent-color2);
}

.grid-container {
  display: grid;
  column-gap: 30px;
  grid-template-columns: auto auto auto;
  padding: 15px;
  position: relative;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
}

.box1 {
  width: 400px;
  aspect-ratio: 1;
  z-index: 1;
  display: inline-block;
  --g: 6px;
  /* control the gap */
  --r: 42px;
  /* control the circular shapes */
  background:
    radial-gradient(var(--r) at left 50% bottom var(--r), var(--accent-color) 95%, #0000),
    radial-gradient(calc(var(--r) + var(--g)) at calc(100% + var(--g)) 50%, #0000 95%, var(--accent-color)) top/100% calc(100% - var(--r)) no-repeat;
}

.box2 {
  width: 400px;
  aspect-ratio: 1;
  display: inline-block;
  --g: 6px;
  --r: 42px;
  background:
    radial-gradient(calc(var(--r) + var(--g)) at 50% calc(100% + var(--g)), #0000 95%, var(--accent-color2)) right/calc(100% - var(--r)) 100% no-repeat,
    radial-gradient(var(--r) at top 50% left var(--r), var(--accent-color2) 95%, #00ff1500);
}

.box2 img {
  width: 100%;
  height: 100%;
  --g: 6px;
  --r: 42px;
  --m:
    radial-gradient(calc(var(--r) + var(--g)) at 50% calc(100% + var(--g)), #0000 95%, #000) right/calc(100% - var(--r)) 100% no-repeat,
    radial-gradient(var(--r) at top 50% left var(--r), #000 95%, #0000);
  object-fit: cover;
  -webkit-mask: var(--m);
  mask: var(--m);
}

.box3 {
  width: 400px;
  aspect-ratio: 1;
  display: inline-block;
  --g: 6px;
  --r: 42px;
  background:
    radial-gradient(calc(var(--r) + var(--g)) at 50% calc(0% - var(--g)), #00000000 95%, var(--accent-color3)) left/calc(100% - var(--r)) 100% no-repeat,
    radial-gradient(var(--r) at top 50% right var(--r), var(--accent-color3) 95%, #0000);
}

.box4 {
  width: 400px;
  aspect-ratio: 1;
  display: inline-block;
  --g: 6px;
  --r: 42px;
  background:
    radial-gradient(calc(var(--r) + var(--g)) at calc(0% - var(--g)) 50%, #0000 95%, var(--accent-color4)) bottom/100% calc(100% - var(--r)) no-repeat,
    radial-gradient(var(--r) at left 50% top var(--r), var(--accent-color4) 95%, #0000);
}

.text-container {
  padding: 50px;
  text-align: center
}

#piece1,
#piece2,
#piece3,
#piece4,
#piece5,
#piece6,
#piece7,
#piece8 {
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: grab;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-style: bold;
}

.text-container p, .text-container li {
  margin: 20px;
  text-align: center;
  font-size: 15px;
  line-height: 100%;
}

.box3 .text-container{
  padding-right: 80px;
}

#project p{
  font-size: 13px;
}

.track-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-left: 40px;
}

.track-container iframe {
  width: 70%;
  height: 80px;
  border: none;
}

.linkspan {
  display: flex;
  margin-left: 20px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
}

.linkspan i.fa {
  font-size: 50px; 
  color: var(--primary-color);
  margin-right: 15px;
}

.linkspan p {
  font-size: 16px;
  color: black;
  margin: 0;
}

.linkspan a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.linkspan i:hover{
  color: var(--secondary-color);
}

.text-animation1, .text-animation2, .text-animation3, .text-animation4, .text-animation5 {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.text-animation1 p, .text-animation2 p, .text-animation3 p, .text-animation4 p, .text-animation5 p {
  padding-right: 175px;
  font-size: 40px;
  text-align: center;
}

.text-animation1 {
  animation-name: fadeInOut1;
}

.text-animation2 {
  animation-name: fadeInOut2;
}

.text-animation3 {
  animation-name: fadeInOut3;
}

.text-animation4 {
  animation-name: fadeInOut4;
}

.text-animation5 {
  animation-name: fadeInOut5;
}

@keyframes fadeInOut1 {
  0% { opacity: 0; }
  10% { opacity: 1; }
  20% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fadeInOut2 {
  0% { opacity: 0; }
  20% { opacity: 0; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fadeInOut3 {
  0% { opacity: 0; }
  40% { opacity: 0; }
  50% { opacity: 1; }
  60% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fadeInOut4 {
  0% { opacity: 0; }
  60% { opacity: 0; }
  70% { opacity: 1; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fadeInOut5 {
  0% { opacity: 0; }
  80% { opacity: 0; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}